[Unit]
Description=Kibana vizualiser
After=network.target

[Service]
User=root
ExecStart=/opt/{{ pillar['kibana']['version'] }}/bin/kibana
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=kibana4.service
